<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>Static</title>
</head>
<body>
    <h1>Exam1</h1>
    <p id="responseText">The response will go here.</p>
    <hr>
    <button id="ledon">LED On</button><br>
    <button id="ledoff">LED Off</button><br>
    <br>
    From index <input type = "number" id="flashes" value="1">
    To index <input type = "number" id="periodms" value="2">
    <button id="flash">Flash</button>
    <hr>

 
    <!-- Load the script at the end of the body. -->
    <script src="main.js"></script>
</body>
</html>